@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-layer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    height: 100svh;
    width: 100vw;
    pointer-events: none;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

html.light .bg-layer {
    background: radial-gradient(at top left, rgb(170,180,180), rgb(140,130,130));
}

html.dark .bg-layer {
    background: radial-gradient(at top left, rgb(20,30,30), rgb(25,20,20));
}